.list-style-circle{
    list-style-type: circle;
}
.list-style-square{
    list-style-type: square;
}
.list-style-thumbsup{
    list-style-type: "\1F44D";
}
.lists-container{
    display: flex;
    flex-wrap: wrap;
}
.lists-container ol{
    flex-grow: 1;
}
.list-style-smAlphabet{
    list-style-type: lower-alpha;
}
.list-style-upperAlphabet{
    list-style-type: upper-alpha;
}
.list-style-upperRoman{
    list-style-type: upper-roman;
}
.list-style-devanagari{
    list-style-type: devanagari;
}
.list-style-decimal-leading-zero{
    list-style-type: decimal-leading-zero;
}
.list-style-none{
    list-style-type: none;
}